<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>list Orders</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" media="screen" >
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" >
  </head>
  <body>
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	    <ul id="menu" class="navbar-nav mr-auto" style="list-style-type: none;">
	      <li class="nav-item active">
		<a class="nav-link" href="#">Home</a>
	      </li>
	      <li class="nav-item">
		<a class="nav-link" href="#">My Orders</a>
	      </li>
	    </ul>
	    <div style="float: right;">
	    	<img src="" />
	    	<h3>User name</h3>	
	    </div>
	</nav>
