<% include ../layout/headerUser.ejs %>
<h2>My Orders</h2>
<form>
	<input type="date" name="from" />
	<input type="date" name="to" />


<table class ="table table-bordered">
  <tr>
      <th>
        Order Date
       </th>

      <th>
      Status
      </th>

        <th>
        Amount
        </th>
	<th>
        Action
        </th>
  </tr>

    <tr>
      <td>
	2015/02/02  10:30 AM     
      </td>
      <td>
	Processing
      </td>
      <td>
      	55 EGP
      </td>
      <td>
	     <span class="btn btn-danger"><a href="/myorders/delete/">CANCEL</a></span>
      </td>
  </tr>
  </table>
  </form>
<% include ../layout/footer.ejs %>
