<% include ../layout/headerAdmin.ejs %>
<h2>All Users</h2>
<table class ="table table-bordered">
  <tr>
      <th>
        Name
       </th>

      <th>
        Room
      </th>

        <th>
          Image
        </th>
	      <th>
          Ext
        </th>
        <th>
          Action
        </th>
  </tr>

    <tr>
      <td>
        Kairo
      </td>
      <td>
        2010
      </td>
      <td>
        image
      </td>
      <td>
        5605
      </td>
      <td>
        <span class="btn btn-info"><a href="#">edit</a></span>
        <span class="btn btn-danger"><a href="">delete</a></span>
      </td>
  </tr>
  </table>
<% include ../layout/footer.ejs %>
