<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='style.css' />
  </head>
  <body>
    
    <h1 style="text-align:center;"> Cafeteria</h1>
    <form method="post" action="#" enctype="multipart/form-data">
    
    <div id="mydivlogin" > 
  

    
    Email  <input  id="bb"  type="email" name="email" autocomplete="off"   ><br>
    Password  <input  id="cc" type="password" name="password" ></br>
    
    <input  id="hh" type="submit" value="login" > </br> </br>
    <a  href="#">Forget password?</a>
     
     </div>
   </form>








  </body>
</html>
