<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-2.1.1.min.js" />

	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.js" />
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <script src="main.js"></script>
</head>
<body>
    <h1>Products ...</h1>
    <table ></table>
</body>
</html>