<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-2.1.1.min.js" />

	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.js" />
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <script src="main.js"></script>
</head>
<body>
    <h1>Products ...</h1>
    <from>
    <table class="table-responsive" border="2">
        <tr>
            
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Image</th>
            
        </tr>
         <% data.forEach(function(product){ %>
            
               <tr>
                   <td><%= product.p_name %></td>
                   <td><%= product.p_price %></td>
                   <td><%= product.p_category %></td>
                   <td><img width="100" height="100" src="/imgs/<%=product.p_img%>"/></td>
                   <td>
                       <a href="edit"></a>
                       <a href="delete"></a>
                
                </td>
                 
               </tr>
        <% })%>
        </table>
        </from>
    </div>
</body>
</html>
