<!DOCTYPE html>
<html>
  <head>
    <title>Add User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Add User</h1>
    <form method="post" action="/users/add" enctype="multipart/form-data">
    
    <div id="mydiv" > 
  

    Name   <input   id="aa" type ="text" name="name"  required><br/>
    Email  <input  id="bb"  type="email" name="email" autocomplete="off"  required ><br>
    Password  <input  id="cc" type="password" name="passw"  required></br>
    Confirm Password  <input   id="dd"  type="password" name="cpassw"  required></br>
    Room No <input  id="ee" type="text"  name="roomno" required ></br>
    Ext <input   id="ff"  type="text" name="ext"  required></br>
    profile picture            <input type="file" name="img" accept="image/*"> </br> </br>

    <input  id="hh" type="submit" value="save" >
     <input  id="kk" type="reset" value="Reset" >
     </div>
   </form>








  </body>
</html>
