<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{% public 'stylesheets/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% public 'stylesheets/jquery-2.1.1.min.js' %}" />

	<link rel="stylesheet" type="text/css" href="{% public 'stylesheets/bootstrap.js' %}" />
    <title>Add Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <script src="main.js"></script>
</head>
<body>
    
</body>
</html>