<!DOCTYPE html>
<html>
<head>
    <title>Checks</title>
	<meta charset="utf-8" />
    
    

</head>

<body>

    <br>
    <h1>Checks</h1>
    <br>
    

    <label for="">Date From</label>
   
    <input type="date" name="Date From" >
    <label for="">Date To</label>
    <input type="date" name="Date To" >
<br>
<br>
<br>

<select>
        <option value="">User 1</option>
        <option value="">User 2</option>
        <option value="">User 3</option>
        <option value="">User 4</option>

      </select>
<br>
<br>
      <table style="width:80%" border="1px solid black" border-collapse="collapse" >
            <tr>
              <th>Name</th>
              <th colspan="2">Total Amount</th> 
              
            </tr>
            <tr>
              <td>Ali</td>
              <td>100</td> 
              
            </tr>
            <tr>
              <td>Yamen</td>
              <td>600</td> 
              
            </tr>
          </table>  
          
          


          <table style="width:70%" margin-left="100px"  border="1px solid black" border-collapse="collapse" >
                <tr>
                  <th>Order Date</th>
                  <th colspan="2"> Amount</th> 
                  
                </tr>
                <tr>
                  <td>02-02-2017</td>
                  <td>100</td> 
                  
                </tr>
                <tr>
                  <td>21-12-2018</td>
                  <td>600</td> 
                  
                </tr>
              </table>       

</body>
</html>