<!DOCTYPE html>
<html>
<head>
    <title>Checks</title>
    <meta charset="utf-8" />
    
</head>    

<body>

<h1>Orders</h1>

<br>
<table style="width:80%" border="1px solid black" border-collapse="collapse" >
        <tr>
          <th>Order Date</th>
          <th >Name</th> 
          <th >Room</th> 
          <th >Ext.</th>
          <th >Action</th>  
          
        </tr>
        <tr>
           <td>10-10-2017</td> 
          <td>Ali</td>
          <td>2004</td>
          <td>5463</td>
          <td>deliver</td>  
        </tr>
       
      </table> 

      </body>

      
</html>