<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Add <%= title %></p>
    <form method="post" action="#" enctype="multipart/form-data">
    
    <div id="mydiv" style=" border: 2px solid red;text-align: center; padding-bottom: 10px;
  
">
    Name   <input  id ="myinput" type ="text" name="name" style="padding-bottom: 10px; margine:10px;" ><br/>
    Email  <input  id ="myinput" type="email" name="email" autocomplete="off"   style="padding-bottom: 10px;margine:10px;"><br>
    Password  <input  id ="myinput" type="password" name="password" style="padding-bottom: 10px; margine:10px;"></br>
    Confirm Password  <input  id ="myinput" type="password" name="password" style="padding-bottom: 10px;margine:10px;"></br>
    Room No <input  id ="myinput" type="text" name="roomno" style="padding-bottom: 10px; margine:10px;"></br>
    Ext <input   id ="myinput"  type="text" name="ext" style="padding-bottom: 10px; margine:10px;"></br>
    Image  <input  id ="myinput"  type="file" name="Browse" style="padding-bottom: 10px;margine:10px;">

    <input type="submit" value="save" style="padding-bottom: 10px; margine:10px;">
     </div>
   </form>








  </body>
</html>
