body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mydiv{

    
     
     padding-bottom: 10px;


}

#mydivlogin{

    
     
    text-align:center;
    margin-right: 209px;

}



#aa{

   padding-bottom: 10px;

      margin: 10px;
      margin-left:200px;
      border: 2px solid black;

}
#bb{

   padding-bottom: 10px;

      margin: 10px;
      margin-left:203px;
      border: 2px solid black;


}

#cc{

   padding-bottom: 10px;

      margin: 10px;
      margin-left:178px;
      border: 2px solid black;


}
#dd{

   padding-bottom: 10px;

      margin: 10px;
      margin-left:125px;
      border: 2px solid black;


}
#ee{

   padding-bottom: 10px;

      margin: 10px;
      margin-left:185px;
      border: 2px solid black;


}

#ff{

   padding-bottom: 10px;

      margin: 10px;
      margin-left:222px;
      border: 2px solid black;


}

#gg{

    

     padding-bottom: 10px;

      margin: 10px;
      margin-left:210px;
     

}

#hh{

  margin-left:180px;
  border: 2px solid black;


}

#kk{
   border: 2px solid black;
  margin-left:50px;



}



